script(src='#{cdnServer}/vendor/metro/js/jquery-migrate-1.0.0.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery-ui-1.10.0.custom.min.js')
script(src='#{cdnServer}/vendor/metro/js/modernizr.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.cookie.js')
script(src='#{cdnServer}/vendor/metro/js/fullcalendar.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.dataTables.min.js')
script(src='#{cdnServer}/vendor/metro/js/excanvas.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.flot.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.flot.pie.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.flot.stack.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.flot.resize.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.chosen.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.uniform.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.cleditor.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.noty.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.elfinder.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.raty.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.iphone.toggle.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.uploadify-3.1.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.gritter.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.imagesloaded.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.masonry.min.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.knob.modified.js')
script(src='#{cdnServer}/vendor/metro/js/jquery.sparkline.min.js')
script(src='#{cdnServer}/vendor/metro/js/counter.js')
script(src='#{cdnServer}/vendor/metro/js/retina.js')
script(src='#{cdnServer}/vendor/metro/js/custom.js')
