//- link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext', rel='stylesheet')
link(href='#{cdnServer}/vendor/bootstrap/dist/css/bootstrap.css?20140821', rel='stylesheet')
//- link(href='#{cdnServer}/bootstrap/dist/css/bootstrap-theme.css', rel='stylesheet')
link(href='#{cdnServer}/vendor/font-awesome/css/font-awesome.css?20140821', rel='stylesheet')
link(href='#{cdnServer}/css/flat-ui.min.css?20150327', rel='stylesheet')
//- link(href='#{cdnServer}/css/animations.css?20140505', rel='stylesheet')
//- link(href='#{cdnServer}/css/style.css#{cacheBreaker}', rel='stylesheet')
//- include ../includes/metro-css
link(href='#{cdnServer}/css/ghost-button.css?20140505', rel='stylesheet')
//- bootstrap-social
link(href='#{cdnServer}/vendor/bootstrap-social/bootstrap-social.css?20141014', rel='stylesheet')

//- openmind
link(href='#{cdnServer}/openmind/css/animate.min.css?20140821', rel='stylesheet')
link(href='#{cdnServer}/openmind/css/lightbox.css?20140821', rel='stylesheet')
//- link(href='#{cdnServer}/openmind/css/syntax/shCore.css', rel='stylesheet')
//- link(href='#{cdnServer}/openmind/css/syntax/shThemeDefault.css', rel='stylesheet')
link(href='#{cdnServer}/openmind/css/mokoversity.css?20150327', rel='stylesheet')
//- link(href='#{cdnServer}/openmind/css/color-default.css', rel='stylesheet')
link(href='#{cdnServer}/openmind/css/color-default.leon.css', rel='stylesheet')
//- link(href='#{cdnServer}/openmind/css/width-full.css', rel='stylesheet')

//- font custom
//- link(href='#{cdnServer}/fontcustom/fontcustom.css?9de1334a2de3e1a52ef532a63616952d', rel='stylesheet')
