//- ***************************************************************
//- All appication scripts were uglified into public/js/app.min.js
//- ***************************************************************

//- script(src='#{cdnServer}/vendor/jquery/jquery.js')
//- script(src='#{cdnServer}/vendor/bootstrap/dist/js/bootstrap.js')
//- script(src='#{cdnServer}/js/jquery.ui.touch-punch.min.js')
//- script(src='#{cdnServer}/js/flatui-checkbox.js')
//- script(src='#{cdnServer}/js/flatui-radio.js')
//- script(src='#{cdnServer}/js/notify.js')
//- script(src='#{cdnServer}/js/notify-bootstrap.js')
//- script(src='#{cdnServer}/js/jquery.tagsinput.js')
//- script(src='#{cdnServer}/js/jquery.placeholder.js')
//- script(src='#{cdnServer}/js/jquery.stacktable.js')
//- script(src='#{cdnServer}/vendor/jquery-waypoints/waypoints.min.js')
//- script(src='#{cdnServer}/js/h762plus.prototype.js', type='text/javascript')
//- script(src='#{cdnServer}/js/video.js')
//- script(src='#{cdnServer}/js/qrcode.js')
//- script(src='#{cdnServer}/js/jquery.videoplayer.js', type='text/javascript')
//- script(src='#{cdnServer}/vendor/underscore/underscore-min.js')
//- script(src='#{cdnServer}/vendor/backbone/backbone-min.js')
//- script(src='#{cdnServer}/vendor/momentjs/min/moment.min.js')
//- script(src='#{cdnServer}/vendor/showdown/src/showdown.js')
//- script(src='#{cdnServer}/layouts/core.js')
//- script(src='#{cdnServer}/buttons/course.json.js')
//- script(src='#{cdnServer}/js/main_default.js')
//- script(src='#{cdnServer}/js/google-analytics.js')

script(src='#{cdnServer}/js/app.min.js?20150215', type='text/javascript')

#fb-root
script.
