link(href='#{cdnServer}/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='#{cdnServer}/css/flat-ui.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='#{cdnServer}/vendor/medium-editor/dist/css/medium-editor.css#{cacheBreaker}', rel='stylesheet')
link(href='#{cdnServer}/vendor/booklog/dist/css/booklog.css#{cacheBreaker}', rel='stylesheet')